/*** portfolio CSS***/
/*** #547980 light; & #1e3135 dark ***/
@media (max-width: 1440px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  #1c292c;
}

    h1 {
        font-family: 'Nobile', sans-serif;
        font-size: 2rem;
        color: blue; 
        padding: 8px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
}

    h2 {
        font-size: 12;
        color: blue;
        padding: 2rem;
        font-family: 'Nobile', sans-serif;
        
}

    h3 {
        font-size: 1.5rem;
        color: blue;
        font-family: 'Nobile', sans-serif;
        padding-left: 5%;
}

    header {
        display: flex;
        padding: 1%;
        justify-content: flex-start;
}

    #header-image {
        height: 650px;
    }

    #profile-image {
        height: 300px;
        border-radius: 180px;
    }

    div#About-me {
        display: flex;
        flex: 0 20%;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2rem;
    }

    #about-me-image {
    height: 200px;
    width: 200px;
}

    div#Projects {
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
}

    .Project-example {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

    p {
        display: flex;
        flex-flow: row wrap;
        color: white;
        width: 60%;
        flex-basis: 2;
        font-size: 1rem;
        font-family: 'Nobile', sans-serif;
}

    #socials {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding-bottom: 3rem;
}

    a:link {
        /* display: flex;
        justify-content: center; */
        color: #547980;
        /* width: 60%; */
        /* flex-basis: 2; */
        font-size: 1rem;
        font-family: 'Nobile', sans-serif;
    }

    #email {
        display: inline;
        height: 100px;
    }

    #linkedin {
        display: inline;
        height: 100px;
    }

    #contact {
        height: 200px;
        color: #ffffff;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }

    footer {
    width: 100%;
    text-align: center;
}

#recent-activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/***Smaller Scree MEDIA QUERY***/
@media (max-width: 900px) {
    header{
        justify-content: center;
    }
    
    #header-image {
        height: 300px;
    }

    #profile-image {
        height: 300px;
        border-radius: 180px;
    }
    
    div#Projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    div#Project-1.Project-example {
        flex-grow: 0;
    }
    div#Project-2.Project-example {
        flex-grow: 0;
    }
    div#Project-3.Project-example  {
        flex-grow: 0;
    }
    div#Project-4.Project-example {
        flex-grow: 0;
    }

   div#About-me {
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
   }

   p {
       width: 100%;
   }

    .image-1 {
        min-width: 60%;
        min-height: 60%;
        max-width: 70%;
        max-width: 70%;
    }
    .image-2 {
        min-width: 60%;
        min-height: 60%;
        max-width: 70%;
        max-width: 70%;
    }

    .image-3 {
        min-width: 60%;
        min-height: 60%;
        max-width: 70%;
        max-width: 70%;
    }


/***PHONE MEDIA QUERY***/
@media (max-width: 300px) {
    h1 {
        font-family: 'Abril Fatface', cursive;
        font-size: 14px;
        color: #547980;
        padding: 8px;
        padding-top: 0px;
    }
    
    h2 {
        font-size: 14px;
        padding: 8px;
        margin-top: 0px;
    }
    
    header {
        display: flex;
        flex-flow: column-reverse wrap;
        padding: 8px;
        justify-content: flex-start;
        align-content: flex-start;
    }
    
    #header-image {
        height: 260px;
        width: 270px;
        }
    
    #profile-image {
        height: 120px;
        width: 100px;
        padding: 2rem;
        padding-left: 0px;
        border-radius: 25px;
        margin: 0px;
    }

    div#About-me {
        display: flex;
        flex-flow: column wrap;
        margin-left: 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    div#Projects {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 8px;
        margin-left: 0px;
    }

    p {
        display: flex;
        flex-flow: row wrap;
        color: #ffffff;
        width: 100%;
        font-size: 12px;
        padding: 8px;
        margin: 0px;
    }

    #about-me-image {
        display: flex;
        height: 10%;
        width: 10%;
        justify-content: flex-start;
    }

    .Project-example {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 2%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer {
        width: 100%;
        text-align: center;
        font-size: 10px;

    }
    }