/*** portfolio CSS***/
/*** #547980 light; & #1e3135 dark ***/
@media (max-width: 1440px) {
    html {
    background-color: #1e3135;
}

    h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    color: #547980;
    padding: 8px;
}

    h2 {
        font-size: 12;
        color: #ffffff;
        padding: 2rem;
}

    header {
        display: flex;
        padding: 1%;
        justify-content: space-between;
}

    #header-image {
        height: 650px;
    }

    #profile-image {
        height: 300px;
        border-radius: 180px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    div#About-me {
    display: flex;
    flex: 0 20%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
}

    #about-me-image {
    height: 200px;
    width: 200px;
}

    div#Projects {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
}

    .Project-example {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

    p {
        display: flex;
        flex-flow: row wrap;
        color: #ffffff;
        width: 60%;
        flex-basis: 2;
        font-size: 1rem;
}

    #socials {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding-bottom: 3rem;
}

    a:link {
        color: #ffffff;
    }

    #email {
        display: inline;
        height: 50px;
    }

    #linkedin {
        display: inline;
        height: 50px;
    }

    #contact {
        display: inline;
        height: 50px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }

    footer {
    width: 100%;
    text-align: center;
}

/***Smaller Scree MEDIA QUERY***/
@media (max-width: 900px) {
    header{
        justify-content: center;
    }
    
    #header-image {
        height: 300px;
    }

    #profile-image {
        height: 100px;
        border-radius: 180px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    
    div#Projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    div#Project-1.Project-example {
        flex-grow: 0;
    }
    div#Project-2.Project-example {
        flex-grow: 0;
    }
    div#Project-3.Project-example  {
        flex-grow: 0;
    }
    div#Project-4.Project-example {
        flex-grow: 0;
    }

   div#About-me {
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
   }

   p {
       width: 100%;
   }
}









/***PHONE MEDIA QUERY***/
@media (max-width: 300px) {
    h1 {
        font-family: 'Abril Fatface', cursive;
        font-size: 14px;
        color: #547980;
        padding: 8px;
        padding-top: 0px;
    }
    
    h2 {
        font-size: 14px;
        padding: 8px;
        margin-top: 0px;
    }
    
    header {
        display: flex;
        flex-flow: column-reverse wrap;
        padding: 8px;
        justify-content: flex-start;
        align-content: flex-start;
    }
    
    #header-image {
        height: 260px;
        width: 270px;
        }
    
    #profile-image {
        height: 120px;
        width: 100px;
        padding: 2rem;
        padding-left: 0px;
        border-radius: 25px;
        margin: 0px;
    }

    div#About-me {
        display: flex;
        flex-flow: column wrap;
        margin-left: 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    div#Projects {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 8px;
        margin-left: 0px;
    }

    p {
        display: flex;
        flex-flow: row wrap;
        color: #ffffff;
        width: 100%;
        font-size: 12px;
        padding: 8px;
        margin: 0px;
    }

    #about-me-image {
        display: flex;
        height: 10%;
        width: 10%;
        justify-content: flex-start;
    }

    .Project-example {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 2%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer {
        width: 100%;
        text-align: center;
        font-size: 10px;

    }
    }